modules = ["web", "nodejs-20", "bash", "ruby-3.2"]
run = "npm run start"

[env]
REPLIT_NODEJS_PACKAGE_LAYER = "1"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bundle exec jekyll serve --host=0.0.0.0 --port=5000"]
build = ["sh", "-c", "bash netlify-build.sh"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 41859832
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run bookshop-dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd site && bundle exec jekyll serve --host=0.0.0.0 --port 6060 --trace --unpublished"

[[workflows.workflow]]
name = "Build and Deploy"
author = 41859832
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd site"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bundle install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p _site"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "JEKYLL_ENV=production bundle exec jekyll build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cp -r _site/* ../_site/"

[[ports]]
localPort = 6060
externalPort = 3000

[[ports]]
localPort = 30775
externalPort = 80
